PUBLIC_URL=https://meet.imnd.com.br

ENABLE_LETSENCRYPT=1
ENABLE_HTTP_REDIRECT=1
DISABLE_HTTPS=0

ENABLE_AUTH=1
ENABLE_GUESTS=0
AUTH_TYPE=jwt

JWT_APP_ID=meetapp
JWT_APP_SECRET=ee15eb66f96ea31d27439e23618687ca
JWT_ACCEPTED_ISSUERS=meetapp
JWT_ACCEPTED_AUDIENCES=jitsi

JITSI_DOMAIN=meet.imnd.com.br
XMPP_DOMAIN=meet.imnd.com.br
XMPP_AUTH_DOMAIN=auth.meet.imnd.com.br
XMPP_GUEST_DOMAIN=guest.meet.imnd.com.br
XMPP_MUC_DOMAIN=muc.meet.imnd.com.br
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.imnd.com.br
XMPP_RECORDER_DOMAIN=recorder.meet.imnd.com.br

ENABLE_XMPP_WEBSOCKET=1
ENABLE_XMPP_WEBSOCKET_SECURE=1

JICOFO_AUTH_PASSWORD=jicofo_secret
JVB_AUTH_PASSWORD=jvb_secret

DATABASE_URL="mysql://meet:meet@db:3306/meet"

ENABLE_LOBBY=1
MAX_PARTICIPANTS=5